@model EURISTest.Models.Product.ProductDetailsViewModel
@{ ViewBag.Title = "Product Details"; }

<div class="euris-panel">
    <div class="header">
        Product details
    </div>
    <div class="toolbar">
        <input type="button" value="Back" class="button button-primary" onclick="location.href='@Url.Action("Index")'" />
        <input type="button" value="Edit" class="button button-primary" onclick="location.href='@Url.Action("Edit", new { code = Model.Product.Code })'" />
        <input type="button" value="Delete" class="button button-danger" onclick="location.href='@Url.Action("Delete", new { code = Model.Product.Code })'" />
    </div>
    <div class="body">
        <div>
            @Html.LabelFor(model => model.Product.Code)
            <div>@Html.DisplayFor(model => model.Product.Code)</div>
        </div>
        <div style="margin-top: 10px">
            @Html.LabelFor(model => model.Product.Description)
            <div>@Html.DisplayFor(model => model.Product.Description)</div>
        </div>
        <div style="margin-top: 10px">
            @Html.LabelFor(model => model.Product.Catalogs)
            @if (Model.Product.Catalogs.Count == 0)
            {
                <span class="no-item-message">No associated catalogs</span>
            }
            else
            {
                <ul>
                    @foreach (var catalog in Model.Product.Catalogs)
                    {
                        <li>@Html.DisplayFor(modelItem => catalog.Description)</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>